.container{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color:white;
}

.infocontainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 2rem;
}

.button {
    padding: 0.5rem 1.2rem;
    border: 2px solid black;
    color: black;
    background-color: white;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    border: 2px solid white;
    color: white;
    background-color: black;
}

.userinfocontainer {
    display: flex;
    padding: 0rem 2rem;
    gap: 1rem;
}

.userinfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userimage {
    border-radius: 50%;
    width: 2.3rem;
}

.username {
    margin: 0;
}

.useremail {
    margin: 0;
    color: rgb(136, 136, 136);
}

.userinfobuttoncontainer {
    display: flex;
    align-items: center;
}

.menuitem {
    display: flex;
    gap: 0.4rem;
    cursor: pointer;
    align-items: center;
}

.menuitemlabel {
    margin: 0;
}

.logo {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .infocontainer {
        width: 95%;
    }
    .menuitemlabel {
        display: none;
    }
    .userinfos {
        display: none;
    }
    .userinfocontainer {
        padding: 0rem 1rem;
    }
    .userimage {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .nav {
        gap: 1rem;
    }
}