
.container {
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 80%;
}

.titlecontainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titleinput {
    height: 2rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgb(213, 213, 213);
}

.button {
    border: 2px solid black;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
}

.textarea {
    border-radius: 1rem;
    border: 1px solid rgb(213, 213, 213);
    resize: none;
    width: 100%;
    height: 5rem;
    translate: all 1s ease-in-out;
}

.imageupload {
    border-radius: 1rem;
    max-height: 20rem;
}

@media screen and (max-width: 800px) {
    .container {
        width: 95%;
        padding: 0.3rem 1rem;
    }
}