.container {
    background-color: rgb(51, 51, 51);
    width: 100vw;
    min-height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem;
}

.infocontainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    margin: 0;
}

.icon {
    font-size: 2rem;
}

.iconscontainer {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 1000px) {
    .infocontainer {
        width: 70%;
    }
}