.container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    cursor: pointer;
    width: 30%;
    height: 21rem;
    overflow: hidden;
}

.postinfocontainer {
    padding: 1.5rem 2rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postimage {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.postbutton {
    border: 1px solid black;
    background-color: white;
    border-radius: 1rem;
    margin: 0;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    transition: all 0.1s ease-in-out;
    width: 40%;
}

.container:hover button {
    font-weight: bold;
}

.title {
    margin: 0;
    padding: 0;
}

.description {
    font-size: 0.8rem;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.postheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeago {
    color: rgb(114, 114, 114);
    font-size: 0.7rem;
}

@media screen and (max-width: 1400px) {
    .container {
        width: 47.5%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}