.body {
  min-height: 90vh;
  padding: 3rem 7rem;
}

.container {
  background-color: white;
  display: flex;
  border-radius: 1rem;
  padding: 3rem;
}

.postscontainer {
  background-color: white;
  border-radius: 1rem;
  min-height: 35rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .body {
    padding: 2rem;
  }
}

.sidebarcontainer {
  width: 100%;
  color:rgb(145, 145, 145)
}

.sidebarcontainer h3 {
  cursor: pointer;
}

.selected {
  color: black;
}