.body {
  min-height: 90vh;
  padding: 3rem 7rem;
}

.container {
  background-color: white;
  border-radius: 1rem;
  min-height: 35rem;
  padding: 3rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .body {
    padding: 2rem;
  }
}