.body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0rem;
}

.container {
  background-color: white;
  display: flex;
  border-radius: 1rem;
  padding: 2.5rem;
  width: 80%;
  gap: 3rem;
}

.postscontainer {
  width: 90%;
  min-height: 35rem;
  display: flex;
  gap: 3rem 5% ;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 800px) {
  .container {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
  .sidebarcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebarcontainer h3{
    margin: 0.5rem;
  }
}

.sidebarcontainer {
  width: 10%;
  color:rgb(145, 145, 145);
}

.sidebarcontainer h3 {
  cursor: pointer;
}

.selected {
  color: black;
}