.body {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
}

.container {
    background-color: white;
    border-radius: 1rem;
    width: 80%;
    min-height: 35rem;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.infocontainer {
    padding: 2rem 12rem;
}

.titlecontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categorycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.timeago {
    color: #898989;
}

.title {
    margin: 0;    
}

.description {
    margin-top: 2rem;
    word-spacing: 1px;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.authorcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0rem;
    font-size: 0.8rem;
}

.authorinfocontainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorimage {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.authorinfo {
    margin: 0;
    color: #898989;
    padding: 0.3rem 0rem;
}

@media screen and (max-width: 1200px) {
    .infocontainer {
        padding: 2rem 5rem;
    }
}

@media screen and (max-width: 700px) {
    .infocontainer {
        padding: 2rem;
    }
    .description {
        font-size: 0.9rem;
        line-height: 2rem;
    }
}
